<h1>ConsoleRef</h1>

<button id="consoleRefLog" (click)="consoleRefLog()">console.log('The time is: ...')</button>

<h1>IntervalRef</h1>

<p id="intervalRefResult">{{intervalRefMessage || 'undefined'}}</p>

<button id="intervalRefSet" (click)="intervalRefSet()">setInterval(..., 1000)</button>
<button id="intervalRefClear" (click)="intervalRefClear()">clearInterval(...)</button>

<h1>LocalstorageRef</h1>

<p id="localstorageRefTimestamp">timestamp: {{localstorageRefTimestamp || 'undefined'}}</p>

<button id="localstorageRefSet" (click)="localstorageRefSet()">localStorage.setItem('timestamp', ...)</button>
<button id="localstorageRefClear" (click)="localstorageRefClear()">localStorage.clear()</button>

<h1>LocationRef</h1>

<button id="locationRefHashSet" (click)="locationRefHashSet()">location.hash = '...'</button>

<h1>SessionstorageRef</h1>

<p id="sessionstorageRefTimestamp">timestamp: {{sessionstorageRefTimestamp || 'undefined'}}</p>

<button id="sessionstorageRefSet" (click)="sessionstorageRefSet()">sessionStorage.setItem('timestamp', ...)</button>
<button id="sessionstorageRefClear" (click)="sessionstorageRefClear()">sessionStorage.clear()</button>

<h1>TimeoutRef</h1>

<p id="timeoutRefResult">{{timeoutRefMessage || 'undefined'}}</p>

<button id="timeoutRefSet" (click)="timeoutRefSet()">setTimeout(..., 5000)</button>
<button id="timeoutRefClear" (click)="timeoutRefClear()">clearTimeout(...)</button>

<h1>WindowRef</h1>

<button id="windowRefAlert" (click)="windowRefAlert()">window.alert('hello world')</button>
